@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

@media (orientation: portrait) {
  body {
    overflow: hidden
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.baFontColor {
  color: rgb(39, 89, 136)
}

.baRecruitmentColor {
  background: rgb(240, 251, 252);
}

.baBackgroundColor {
  background: rgb(181, 229, 245)
}


.rectangleTransition {
  background-color: rgb(241, 255, 246);
  animation-name: rectangleAnimation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes rectangleAnimation {
  0%   {transform: translate(15%, 15%) rotate(45deg)}
  20%   {transform: translate(15%, 15%) rotate(45deg)}
  100% {transform: translate(-75%, -75%) rotate(45deg)}
}

.characterAnimation {
  animation-name: characterAnimation;
  animation-duration: 1.0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes characterAnimation {
  0% {transform: translateX(100px); height:70vh}
  60% {transform: translateX(70px); height:70vh}
  61% {transform: translateX(60px); height:120vh}
  100% {transform: translateX(0px); height: 120vh}
}

.nameAnimation {
  animation-name: nameAnimation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  background-color: rgb(52, 60, 94);
  
}

@keyframes nameAnimation {
  0% {transform: translateX(-105%) skewX(-6deg)}
  70% {transform: translateX(-105%) skewX(-6deg)}
  100% {transform: translateX(5%) skewX(-6deg)}
}

.fadeOutAnimation {
  animation-name:fadeOut;
  animation-duration: 0.5s;
}

.fadeInAnimation {
  animation-name:fadeIn;
  animation-duration: 0.8s;
}

@keyframes fadeIn {
  0% {z-index: 10; opacity: 0}
  60% {z-index: 10; opacity: 1}
  100% {z-index: 10; opacity: 1}
}

@keyframes fadeOut {
  0% {z-index: 10; opacity: 1}
  100% {z-index: 10; opacity: 0}
}

.popupBackground {
  position: fixed;
  inset: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  backdrop-filter: brightness(50%);
  justify-content: center;
  z-index: 30;
  align-items: center;
}

.popupContent {
  position: relative;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  align-items: center;
}